@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #110e0d;
  --foreground: #fcf5e9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
